.footer-body {
    color: aliceblue;
    background-color: #202328;
    
    width: 100%;

}

.codex-logo {
    border-radius: 30px;
    border: solid 1px rgba(186, 186, 186, 0.537);
    margin-top: 15px;
}

.explore-list li a {
    text-decoration: none;
    color: #0094FF;
    transition: .2s;
}
.explore-list li {
    margin: 6px 6px
}
.explore-list {
    margin-top: 9px
}

.explore-list li a:hover {
    color: #4ab4ff
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
#footer-title.explore-features  {
    margin-left: 40px;
}

#footer-title {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 45px;
}

.followus-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin: 20px 40px;
}
.follow-icon {
    width: 42px;
    margin: 0px 12px;
    cursor: pointer;
}
@media (max-width: 1157px) {
    .specialcode-footer {
        display: none;
    }
    
}
@media (max-width: 968px) {
    .commmunity-footer {
        display: none;
    }
}
@media (max-width: 700px) {
    .about-codex {
        display: none;
    }
}
@media (max-width: 608px) {
    .followus {
        display: none;
    }
}
.lang-btn {
    border: solid 1px #4ab4ff5e;
    border-radius: 5px;
    background-color: #1e203342;
    color: aliceblue;
    padding: 10px 20px;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
   
    cursor: pointer;
    margin-top: -5px;
}
.lang-btn:hover {
    background-color: #18192291;
}
.hide-lang-menu {
    display: none;
}
.show-lang-menu {
    background-color: #1e203342;
    margin-bottom: 10px;
    margin-top: -5px;
}
.lang-menu-item {
    color: rgb(228, 228, 228);
    background-color: #1e203342;
    padding: 3px 5px;
    margin: 0px -20px;
    font-weight: 900;
}
.lang-menu-item:hover {
    background-color: #18192291;
}

