@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.title-index-page {
    margin-left: 90px;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: 80px;
    color: #6479c4;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
}


.description-index-page {
    color: rgb(148, 159, 161);
    margin: -55px 0px 0px 90px ;
}
.start-button-index {
    border: solid 0;
    padding: 19px 40px 19px 40px;
    background-color: rgb(28, 153, 255);
    border-radius: 11px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-left: 100px;
    transition: 0.2s;
    margin-top: -5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.start-button-index:hover {
    background-color: rgb(0, 107, 179);
}

/*
@media (max-width: 1000px) {
    .img-coding-index {
        display: none;
    }
     .login-button {
        width: 120px;
        height: 50px;
        font-size: 20px;
    }
    .title-index-page {
        margin-left: 70px;
        font-size: 110px;
    }
    
    
    
    
    .login-button {
        padding: 50px 130px;
        font-size: 40px;
        display: flex;
        margin-right: 40px
    }
    .login-btn-name {
        
        
    }
}

*/
@media (max-width: 500px) {
    .title-index-page{
        margin-top: 35px;
        text-align: start;
        margin-left: 35px;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 34px;
    }
    .img-coding-index {
        display: none;
        
    }
    .navbar-item {
        display: none;
    }
    .description-index-page {
        font-size: 11px;
        margin: 0;
    }
    .description-index-page {
        display: none;
    }
    .description-index-page-mobile {
        display: flex;
        color: rgb(194, 194, 194);
        margin-top: 25px;
        font-size: 11px;
        margin-left: 31px;
    }
    .start-button-index {
        padding: 13px 28px;
        font-size: 12px;
        border-radius: 10px;
        margin: 20px 0px 0px 36px;
    }
    .botavatar {
        display: none;
    }
    .login-button {
        display: none;
    }
}

@media (min-width: 500px) {
    .description-index-page-mobile {
    display: none;
}
.sidebar-icon {
    display: none;
}
}
