@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.title-index-page {
    
    color: #416aff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    user-select: none;
    text-shadow: 0px 0px 2px #5a74d1f3;
    backdrop-filter: blur(5px);
    transition: 0.1s;
}
.sclogo-index-page {
    border-radius: 10px;
    margin: 00px 25px 10px 40px;
    border: solid 1px rgb(101, 101, 101);
}

.pc-index-page {
    border-radius: 10px;
    border: solid 1px rgb(101, 101, 101);
    margin: 15px 40px 5px 15px;
}

.title-features-indexpage {
    color: aliceblue;
    font-family: "Inter", sans-serif;
}

.description-index-page {
    color: rgb(148, 159, 161);
    margin: -55px 0px 0px 5rem;
}

.start-button-index {
    border: solid 0;
    padding: 19px 40px 19px 40px;
    background-color: rgba(31, 154, 255, 0.705);
    border-radius: 11px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-left: 5.2rem;
    transition: 0.2s;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(31, 154, 255, 0.445);
    border: solid 1px rgba(95, 95, 95, 0.452);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@media (min-width: 1900px) {
    .title-index-page {
        font-size: 4.5rem;
        margin-right: 4rem;
        margin-left: 8.5rem;
    }
    .description-index-page {
        font-size: 18px;
        margin-left: 9.2rem;
    }
    .start-button-index {
        margin-top: 1.8rem;
        margin-left: 10rem;
        padding: 20px 40px;
        font-size: 17px;
    }
}

@media (min-width:1280px ) {
    .img-coding-index {
        max-width: 45rem;
    }
    .title-index-page {
        margin-left: 4rem;
    margin-top: 5rem;
    margin-bottom: 90px;
    margin-right: 2rem;
    }
    
}
@media (max-width: 620px) {
    .title-index-page {
        font-size: 50px;
    }
}
@media (max-width: 1280px) {
    .index-intro-content {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .description-index-page {
        margin: 0;
        margin-top: 5px;
    }
    .title-index-page{
        margin-top: 3rem;
    }
    .start-button-index {
        margin-left: 0;
    }
    

}

@media (min-width: 1647px) {
    .img-coding-index {
        margin-left: 5rem;
    }
    .title-index-page {
        font-size: 4.7rem;
    }
   
    
}
@media (max-width: 1740px) {
    .img-coding-index {
        width: 53rem;
    }
}
@media (min-width:1629px) {
    .title-index-page {
        margin-left: 7rem;
    }
    .description-index-page {
        margin-left: 7.5rem;
    }
    .start-button-index {
        margin-left: 7.9rem;
    }
}
@media (min-width: 1700px) {
    .img-coding-index {
        max-width: 900px;
    }
    .title-index-page {
        margin-left: 8.5rem;
    }
    .description-index-page {
        margin-left: 9rem;
        font-size: 1.25rem;
    }
    .start-button-index {
        margin-left: 9.5rem;
    }
}
.img-coding-index {
    transition: 0.1s;
}

.start-button-index:hover {
    background-color: rgb(0, 107, 179);
    box-shadow: 0px 0px 5px rgba(31, 154, 255, 0.445);
}

.img-coding-index {
    border-radius: 15px;
    border: solid 1px rgb(65, 65, 65);
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.356);
}
/*
@media (max-width: 1000px) {
    .img-coding-index {
        display: none;
    }
     .login-button {
        width: 120px;
        height: 50px;
        font-size: 20px;
    }
    .title-index-page {
        margin-left: 70px;
        font-size: 110px;
    }
    
    
    
    
    .login-button {
        padding: 50px 130px;
        font-size: 40px;
        display: flex;
        margin-right: 40px
    }
    .login-btn-name {
        
        
    }
}

*/
@media (max-width: 500px) {
    .title-index-page {
        margin-top: 35px;
        text-align: start;
        margin-left: 35px;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 34px;
    }

    .img-coding-index {
        display: none;

    }
    .start-button-index {
        display: flex;
        justify-content: start;
    }

    .navbar-item {
        display: none;
    }

    .description-index-page {
        font-size: 11px;
        margin-left: 15px;
        text-align: right;
        margin-right: 20px;
        display: flex;
        justify-content: start;

    }

    .description-index-page {
        display: none;
    }

    .description-index-page-mobile {
        display: flex;
        color: rgb(194, 194, 194);
        margin-top: 25px;
        font-size: 11px;
        margin-left: 31px;
    }

    .start-button-index {
        padding: 13px 28px;
        font-size: 12px;
        border-radius: 10px;
        margin: 20px 0px 0px 36px;
    }

    .botavatar {
        display: none;
    }
    #features-index-img {
        display: none;
    }
    #features-index-img-mobile.cc-img {
        margin-left: auto;
        margin-right: 30px;
    }
    #features-index-img-mobile {
        width: 75px;
        height: 75px;
        border-radius: 15px;
        border: solid 1px grey ;
    }
    #features-index-item {
        margin: 50px 0px;
    }
    #features-index-title {
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }
    #features-index-description {
        font-size: 12px;
        margin-right: 10px;
    }

}

@media (max-width: 1292px) {
    .img-coding-index {
        display: none
    }
    .title-index-page {
        
    }
}

@media (min-width: 500px) {
    .description-index-page-mobile {
        display: none;
    }
#features-index-item {
    margin: 50px 30px;
}
    .sidebar-icon {
        display: none;
    }

    #features-index-content-inside {
        display: flex;
    }
    #features-index-title.pc {
        display: flex;
        margin-left: auto;
    }
    #features-index-description.pc-descrip {
        text-align: end;
        margin-right: 0;
        margin-left: 20%;
    }
    #features-index-tide.pc-tide {
        margin-right: 20px;
    }
    #features-index-img-mobile {
        display: none;
    }
    #features-index-description {
        margin-right: 10%;
        font-size: 115%;
    }
    
}
#features-index-title {
    color: #6479c4;
    transition: .2s;
}
#features-index-tide {
    margin-top: auto;
    margin-bottom: 40px;
    margin-left: 30px;
}
#features-index-description {
    color: rgb(211, 211, 211);
    margin-top: 10px;
}
.features-index-title {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: white;
    margin: 70px 30px 60px 30px;
}
#features-index-img {
    border-radius: 15px;
    border: solid 1px grey;
}

